#player-controller #player-controls-left, #player-fullscreen-button,
.navigation-content.ytk-masthead,
.notice-content.ytk-masthead,
#container.ytk-search-box,
.navigation-control-container.ytk-masthead,
.fullscreen #masthead
{display: none !important;}

video{
    pointer-events: none;
    transition: 500ms;
    -webkit-transition: 500ms;
    transform-origin: center;
}

#player-container-inner{
    position: relative;
}
.player-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 100px);
    z-index: 99999999;
    cursor: pointer;
}
.masthead-settings-icon-container{
    display: none;
}

.fullscreen ytk-player{
    position: fixed !important;
    left: 0 !important;;
    top: 0 !important;;
    width: 100vw !important;;
    height: 100vh !important;;
    z-index: 999999 !important;;
}


