#player-controller #player-controls-left, #player-fullscreen-button,
/*
.navigation-content.ytk-masthead,
*/

.notice-content.ytk-masthead,

/*#container.ytk-search-box,*/
/*
.navigation-control-container.ytk-masthead,
*/
.fullscreen #masthead
{display: none !important;}

video, ytk-player{
    pointer-events: none;
    transition: 500ms;
    -webkit-transition: 500ms;
    transform-origin: center;
}
ytk-player{
    z-index: 999;
}
#player-container-inner{
    position: relative;
}
.player-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 99999999;
    cursor: pointer;
}
.masthead-settings-icon-container{
    display: none;
}

.fullscreen{
    overflow: hidden;
}

.fullscreen ytk-player{
    position: fixed !important;
    left: 0 !important;;
    top: 0 !important;;
    width: 100vw !important;;
    height: 100vh !important;;
    z-index: 999999 !important;;
}
.fullscreen #secondary-results.ytk-two-column-watch-next-results-renderer{
    z-index: 99999999999;
    position: absolute;
    width: 100%;
    bottom: 0;
    overflow: auto;
    display: none;
}

.fullscreen #player-controller.ytk-player{
    display: none;
}

.fullscreen #secondary-results.ytk-two-column-watch-next-results-renderer #related {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    position: relative;
    /* Full width of its parent */
    white-space: nowrap;
}
.fullscreen #secondary-results.ytk-two-column-watch-next-results-renderer #related > * {
    /* Start off the right edge */
    transform: translateX(100%);
    /* Animate to the left */
    animation: scroll-left 20s linear infinite;
}


@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}
